### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 10 - Insert a markdown cell to list Objectives

__Objectives:__
- Popular Languagaes for Data Science
- Open Source Tools for Data Science
- Application Programming Interfaces (APIs)
- Libraries, Datasets, and Models

### Exercise 4 - Create a markdown cell to list data science languages

___Some of the popular languages that Data Scientists use are:___
1. R
2. Python
3. Scala

### Exercise 5 - Create a markdown cell to list data science libraries

___Some of the commonly used libraries used by Data Scientists include:___

1. Pandas
2. NumPy
3. ScikitLearn
4. TensorFlow
5. Keras

### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| -------------|
| RStudio |
| Apache Hadoop |
| Apache Spark |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
print(2**2) # Exponent
print(50//5) # Floor Division

4
10

### Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:
Bushra Jabeen